.nav {
    background-color: rgba($black, 0.9);
    color: $text-color;
    padding-top: 20px;
    padding-bottom: 20px;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    transition: background-color 150ms ease-in,
    padding 200ms ease-out;
    
    
    &--top {
        background-color: transparent;
        padding: 40px 0;
    }

    .container {
        @extend %flex-align-center;

        justify-content: space-between;
        column-gap: $grid-gap;
    }

    &__elements {
        @extend %flex-align-center;

        justify-content: space-between;
        column-gap: $grid-gap;
    }

    &__buttons {
        @extend %flex-align-center;

        justify-content: flex-start;
        gap: $grid-gap;
    }

    &__button {
        @extend %hover-text;

        font-size: 14px;
        white-space: nowrap;
    }

    &__actions {
        @extend %flex-align-center;

        justify-content: space-between;
        gap: $grid-gap;
        
        width: set-grid-size(1, 8);
        min-width: fit-content;
        
        * {
            @extend %hover-icon;

            user-select: none;
        }
    }
}