// ================================================
// Миксин для позиционирования секции
//
// Пример использования:
//   .section {
//     @include section-position;
//   }
//
// Описание:
// Этот миксин устанавливает относительное позиционирование для секции
// и задает абсолютное позиционирование для фона секции и содержимого.
// Содержимое имеет z-index: 2, чтобы находиться выше фона.
// ================================================
@mixin section-position {
    // Относительное позиционирование для секции
    position: relative;

    // Стили для содержимого секции
    &__content {
        position: relative;
        z-index: 2;
    }
    
    // Стили для фона секции
    &__background {
        position: absolute;
        top: 0;
        left: 0;
    }

    // Общие стили для содержимого и фона
    &__content, &__background {
        @extend %full-size;
    }
}


// ====================================================
// Миксин для создания адаптивного стиля
//
// Параметры:
//   $property - CSS-свойство, для которого задается адаптивный стиль.
//   $pc-font-size - Размер на больших экранах (в px или rem).
//   $mobile-font-size - Размер на мобильных устройствах (в px или rem).
//
// Пример использования:
//   .text {
//     @include adaptive-style('font-size', 16px, 14px);
//   }
//
// Описание:
// Этот миксин вычисляет и применяет адаптивный стиль для заданного свойства.
// Используется для размеров шрифта и высоты строки, 
// но может быть адаптирован для других свойств.
// Он учитывает разницу между размерами на больших и мобильных экранах, преобразует
// их в px, если необходимо, и применяет стили с использованием calc для вычисления
// адаптивного размера в зависимости от ширины экрана.
// ====================================================
@mixin adaptive-style($property, $pc-font-size, $mobile-font-size) {
    // Вычисление разницы между размерами шрифта на больших и мобильных экранах
    $add-size: $pc-font-size - $mobile-font-size;
    
    // Проверка и преобразование разницы в px, если она задана в rem
    @if (unit($add-size) == px) {
        $add-size: strip-unit($add-size);
    }

    @if (unit($add-size) == rem) {
        $add-size: strip-unit($add-size) * $font-size-base;
    }

    // Применение стилей с использованием calc для вычисления адаптивного размера шрифта
    #{$property}: calc(#{$mobile-font-size} + #{strip-unit($add-size)} * ((100dvw - #{$min-screen-width + px}) / (#{$max-screen-width} - #{$min-screen-width})));
}


// ====================================================
// Миксин для адаптивного размера шрифта
//
// Параметры:
//   $pc-font-size - Размер шрифта на больших экранах.
//   $mobile-font-size - Размер шрифта на мобильных экранах.
//
// Пример использования:
//   .text {
//     @include adaptive-font(16px, 14px);
//   }
//
// Описание:
// Этот миксин предоставляет адаптивный размер шрифта,
// применяя разные значения для больших и мобильных экранов.
// Использует другой миксин `adaptive-style`, который
// управляет адаптивным стилем для заданного свойства.
// ====================================================
@mixin adaptive-font($pc-font-size, $mobile-font-size) {
    @include adaptive-style('font-size', $pc-font-size, $mobile-font-size);
}


// ================================================
// Миксин для адаптивной высоты строки
//
// Параметры:
//   $pc-line-height - Высота строки на больших экранах.
//   $mobile-line-height - Высота строки на мобильных экранах.
//
// Пример использования:
//   .element {
//     @include adaptive-line-height(1.5, 1.2);
//   }
//
// Описание:
// Этот миксин обеспечивает адаптивную высоту строки,
// применяя разные значения для больших и мобильных экранов.
// Использует другой миксин `adaptive-style`, который
// управляет адаптивным стилем для заданного свойства.
// ================================================
@mixin adaptive-line-height($pc-line-height, $mobile-line-height) {
    @include adaptive-style('line-height', $pc-line-height, $mobile-line-height);
}