// Container
.container {
    @extend %full-size;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $grid-gap;

    &--vertical-padding {
        padding-top: 80px;
        padding-bottom: 80px;
    }
} 