html,
body {
    font-family: $text-font;
}

.container {
    @extend %full-size;

    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $grid-gap;
    
    
    &--vertical-padding {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.section-title {
    font-family: $title-font;
    font-weight: 600;
    font-size: 30px;

    color: $title-color;
    text-align: center;
}

.section-text {
    font-family: $text-font;
    font-size: 16px;
    font-weight: 500;

    line-height: 1.7rem;
    text-align: center;

    color: $text-second-color;

    width: 100% / 12 * 8;
}

.btn {
    font-family: $title-font;
    font-size: 14px;
    font-weight: 700;

    text-align: center;

    background: $button-color;
    box-shadow: 0 3px 0 $button-second-color;

    width: 100% / 12 * 2;
    padding: 20px 0;

    border-radius: 4px;

    transition: filter .3s ease-in-out,
                scale .3s ease-in-out;

    
    &:hover {
        filter: brightness(.9);
        scale: 1.05;
    }
}