// Подключение шрифтов
@import '../fonts/montserrat/stylesheet.css';
@import '../fonts/raleway/stylesheet.css';
@import '../fonts/roboto/stylesheet.css';

// Base Typography
html,
body {
    font-family: $text-font;
}

// Section Typography
.section-title {
    font-family: $title-font;
    font-weight: 600;
    font-size: $section-title-font-size;
    color: $title-color;
    text-align: center;
}

.section-text {
    font-family: $text-font;
    font-size: $section-text-font-size;
    font-weight: 500;
    line-height: 1.7rem;
    text-align: center;
    color: $text-second-color;
}