// Размеры экрана
$max-screen-width: 1920;
$min-screen-width: 280;


// Цвета
$title-color: #555555;

$text-color: #FFFFFF;
$text-second-color: #8c8c8c;

$accent-color: #c7b299;
$second-accent-color: #fbfaf8;

$button-color: #998675;
$button-second-color: #736357;

$link-color: #00bff3;


// Шрифты
$title-font: 'Raleway', sans-serif; 
$text-font: 'Montserrat', sans-serif; 


// Размеры шрифтов 
$section-title-font-size: 30px;
$section-text-font-size: 16px;

$card-title-font-size: 20px;
$card-text-font-size: 14px;

$footer-font-size: 13px;


// Размеры шрифтов для мобильной версии
