.partners {
    min-height: 30dvh;
    background: url("../img/partners/bg photo.png") center / cover no-repeat;

    // Чтобы контейнер занимал всю высоту
    display: flex;
    flex-direction: column;
    
    .container {
        @extend %full-size;
        @extend %flex-all-center;

        // Чтобы контейнер занимал всю высоту
        flex: 1;
    }
    
    &__cards {
        @extend %full-size;
        display: flex;
        
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    &__item {
        @extend %flex-all-center;

        min-width: 210px;
        text-align: center;

        padding-inline: $grid-gap;
        
        img {
            max-width: 100%;
            height: auto;
            filter: brightness(0) invert(1) opacity(0.5);
            transition: all 0.3s ease;
            
            &:hover {
                filter: brightness(0) invert(1) opacity(1);
            }
        }
    }
} 