.purchase {
    background-image: $section-gradient;
    color: $text-color;
    padding: 50px 0;

    .container {
        @extend %flex-align-center;

        justify-content: space-between;
    }

    &__title {
        font-size: 28px;
        font-weight: 300;
        line-height: 1.2;

        color: inherit;
    }

    &__first-word {
        color: $accent-color;
    }

    &__text {
        font-size: 18px;

        line-height: 1.2;
        text-align-last: left;
        color: $gray-300;

        width: auto;
    }
}