.header {
    @include section-position;

    background: #9c9b98;

    height: 100dvh;


    .container {
        @extend %flex-all-center;

        flex-direction: column;
        gap: 55px;

        color: $text-color;

        position: relative;
        z-index: 998;
    }

    &__info {
        @extend %flex-align-center;

        flex-direction: column;
        gap: 17px;

        width: 620px;

        text-align: center;
    }

    &__title {
        font-size: 36px;
        font-family: $title-font;
    }
    
    &__sub-title {
        font-size: 52px;
        font-family: $title-font;
        font-weight: 800;
    }
    
    &__btn {
        font-family: $title-font;
        font-size: 14px;
        font-weight: 700;
        
        background: $button-color;
        box-shadow: 0 3px 0 $button-second-color;
        
        padding: 20px 40px;
        
        border-radius: 4px;
    }
    
    .swiper {
        @extend %full-size;
        

        &-wrapper {
            position: absolute;
            top: 0;
        }
    }

    &__slide {
        @extend %full-size;

        object-fit: cover;
    }
    
    .swiper-pagination {
        @extend %flex-all-center;
        
        gap: 10px;
        
        z-index: 999;


        &.swiper-pagination-bullets {
            bottom: 42px;
    

            .swiper-pagination-bullet {
                background: #8e8e90;
                opacity: 1;
        
                height: 12px;
                width: 12px;
                box-sizing: content-box;

                margin: 0;
                

                &-active {
                    background: transparent;
                    border: 2px solid #c1b19f;
                }
            }
        }
    }


    &__slides-buttons {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 998;

        transform: translateX(-50%);

        width: 100% - 150 / 1920 * 100%;
        height: 100%;

        .swiper-button-prev,
        .swiper-button-next {
            width: 40px;
            height: 75px;

            polyline {
                stroke: #9c9b98;

                transition: stroke 200ms ease-in-out;
            }

            &:hover polyline {
                stroke: #90867a;
            }
        }

        .swiper-button-next {
            rotate: 180deg;
        }
    }
}