.mobile {
    .container {
        @extend %flex-align-center;

        gap: 30px;
    }

    &__illustration {
        padding-top: 80 / 1080 * 100dvh;

        width: set-grid-size(5, 12);

        align-self: flex-end;

        display: flex;
        justify-content: end;
    }

    &__content {
        width: set-grid-size(7, 12);

        display: flex;
        flex-direction: column;
        gap: 40 / 1080 * 100dvh;

        * {
            width: 100%;
        }
    }

    &__title,
    &__text {
        text-align: left;
    }

    &__advantages {
        display: flex;
        flex-direction: column;
        gap: 12px;

        color: $text-second-color;
        font-weight: 500;
        font-size: 16px;
    }

    &__advantage {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $grid-gap;


        &-icon {
            $icon-size: 21px;

            display: flex;
            justify-content: end;

            min-width: $icon-size;

            svg {
                width: $icon-size;
                height: $icon-size;

                path {
                    fill: $accent-color;
                }
            }

        }

        &-text {
            flex-shrink: 0;

            width: set-grid-size(6, 7);
        }
    }
}