.nav {
    background-color: rgba(0, 0, 0, 0.9);
    color: $text-color;
    padding: 20px 0;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    transition: background-color 150ms ease-in,
    padding 200ms ease-out;
    
    
    &--top {
        background-color: transparent;
        padding: 40px 0;
    }

    .container {
        @extend %flex-align-center;
        justify-content: space-between;

        @media screen and (max-width: 1300px) {
            padding: 0 25px;
        }
    }

    &__elements {
        @extend %flex-align-center;

        gap: 64px;
    }

    &__buttons {
        @extend %flex-align-center;

        gap: 30px;
    }

    &__button {
        @extend %hover-text;

        font-size: 14px;
    }

    &__actions {
        @extend %flex-align-center;
        
        gap: 28px;
        
        * {
            @extend %hover-icon;

            user-select: none;
        }
    }
}

.logo {
    @extend %flex-align-center;

    font-family: $title-font;
    user-select: none;

    &__text {
        font-size: 34px;
    }
}