.posts {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $grid-gap;
    }

    &__text {
        width: set-grid-size(8, 12);
    }

    &__swiper {
        width: 100%;

        overflow: hidden;
    }

    &__cards {
        width: 100%;
    }

    .card {

        &__picture {
            position: relative;

            width: 100%;
        }

        &__img {
            width: 100%;

            object-fit: cover;

            aspect-ratio: 370 / 220;

            transition: filter 200ms ease-in-out;
        }

        &__date {
            position: absolute;
            top: 20 / 220 * 100%;
            left: 20 / 370 * 100%;

            color: $text-color;

            border-radius: 5px;

            overflow: hidden;

            text-align: center;
        }

        &__day {
            background-color: #363636;

            font-size: 24px;

            padding: 5px 10px;

            transition: background-color 200ms ease-in-out;
        }

        &__month {
            background-color: #252525;

            font-size: 12px;
            font-family: $additional-font;

            padding: 7px 0;

            transition: background-color 200ms ease-in-out;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 20px;

            padding: $grid-gap;

            transition: background-color 200ms ease-in-out;
        }

        &__title,
        &__text {
            transition: color 200ms ease-in-out;
        }

        &__title {
            font-size: $card-title-font-size;
            font-weight: 500;
            font-family: $title-font;
        }

        &__text {
            font-size: $card-text-font-size;

            color: $text-second-color;
        }

        &__link {
            @extend %hover-scale;
            font-size: $card-text-font-size;

            color: $accent-color;

            align-self: start;

            display: flex;
            align-items: center;
            gap: 10px;

            path {
                fill: $accent-color;
            }

            &-icon {
                width: 5px;
                height: 8px;
            }
        }

        &:hover {
            .card__img {
                filter: brightness(.4);
            }

            .card__day {
                background-color: $accent-color;
            }

            .card__month {
                background-color: #a48d72;
            }

            .card__content {
                background-color: #362f2d;
            }

            .card__title {
                color: $accent-color;
            }

            .card__text {
                color: $text-color;
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 10px;

        margin-top: $grid-gap;
    }

    &__button {
        position: static;

        width: 22px;
        height: 22px;

        cursor: pointer;

        user-select: none;

        path {
            fill: $text-second-color;

            transition: fill 0.2s ease;
        }

        &::after {
            display: none;
        }

        &--next {
            rotate: 180deg;
        }

        &:hover {
            path {
                fill: $accent-color;
            }
        }
    }
}