.realization {
    background-color: $second-accent-color;


    .container {
        @extend %flex-align-center;
    
        flex-direction: column;
        gap: 20px;

        padding-bottom: 0;
    }

    &__text {
        width: set-grid-size(8, 12);
    }

    &__img {
        margin-top: 10px;
        
        max-width: none;
        width: calc(100% + 60px);
    }
}
