/* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
  color: unset;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.nav__button {
  -webkit-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}
.nav__button:hover {
  color: #c7b299;
}

.nav__actions * path {
  -webkit-transition: fill 300ms ease-in-out;
  transition: fill 300ms ease-in-out;
  fill: #FFFFFF;
}
.nav__actions :hover path {
  fill: #c7b299;
}

.services .container, .header .swiper-pagination, .header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.realization .container, .services .card, .header__info, .logo, .nav__actions, .nav__buttons, .nav__elements, .nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__slide, .header .swiper, .header__content, .header__background, .container {
  width: 100%;
  height: 100%;
}

html, body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #555555;
}

.section-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7rem;
  color: #8c8c8c;
}

.nav {
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFFFFF;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-transition: background-color 150ms ease-in, padding 200ms ease-out;
  transition: background-color 150ms ease-in, padding 200ms ease-out;
}
.nav--top {
  background-color: transparent;
  padding: 40px 0;
}
.nav .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1300px) {
  .nav .container {
    padding: 0 25px;
  }
}
.nav__elements {
  gap: 64px;
}
.nav__buttons {
  gap: 30px;
}
.nav__button {
  font-size: 14px;
}
.nav__actions {
  gap: 28px;
}
.nav__actions * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.logo__text {
  font-size: 34px;
}

.header {
  position: relative;
  background: #9c9b98;
  height: 100dvh;
}
.header__content {
  position: relative;
  z-index: 2;
}
.header__background {
  position: absolute;
  top: 0;
  left: 0;
}
.header .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 55px;
  color: #FFFFFF;
  position: relative;
  z-index: 998;
}
.header__info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
  width: 620px;
  text-align: center;
}
.header__title {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}
.header__sub-title {
  font-size: 52px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
.header__btn {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  background: #998675;
  -webkit-box-shadow: 0 3px 0 #736357;
          box-shadow: 0 3px 0 #736357;
  padding: 20px 40px;
  border-radius: 4px;
}
.header .swiper-wrapper {
  position: absolute;
  top: 0;
}
.header__slide {
  -o-object-fit: cover;
     object-fit: cover;
}
.header .swiper-pagination {
  gap: 10px;
  z-index: 999;
}
.header .swiper-pagination.swiper-pagination-bullets {
  bottom: 42px;
}
.header .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #8e8e90;
  opacity: 1;
  height: 12px;
  width: 12px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0;
}
.header .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: transparent;
  border: 2px solid #c1b19f;
}
.header__slides-buttons {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 998;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 92.1875%;
  height: 100%;
}
.header__slides-buttons .swiper-button-prev,
.header__slides-buttons .swiper-button-next {
  width: 40px;
  height: 75px;
}
.header__slides-buttons .swiper-button-prev polyline,
.header__slides-buttons .swiper-button-next polyline {
  stroke: #9c9b98;
  -webkit-transition: stroke 200ms ease-in-out;
  transition: stroke 200ms ease-in-out;
}
.header__slides-buttons .swiper-button-prev:hover polyline,
.header__slides-buttons .swiper-button-next:hover polyline {
  stroke: #90867a;
}
.header__slides-buttons .swiper-button-next {
  rotate: 180deg;
}

.services .container {
  gap: 23px;
}
.services .card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  text-align: center;
  padding: 80px 0;
}
.services .card:hover .card__icon path {
  fill: #c7b299;
}
.services .card:hover .card__line {
  background-color: #c7b299;
}
.services .card__icon path {
  fill: #555555;
  -webkit-transition: fill 250ms ease-in-out;
  transition: fill 250ms ease-in-out;
}
.services .card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.services .card__title {
  font-size: 22px;
}
.services .card__text {
  font-size: 14px;
}
.services .card__line {
  background-color: #f1eee9;
  width: 70px;
  height: 3px;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.realization {
  background-color: #fbfaf8;
}
.realization .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding-top: 85px;
  text-align: center;
}
.realization__text {
  width: 65.811965812%;
}
.realization__img {
  margin-top: 10px;
  width: 100%;
}